* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0c0c0c;
    color: #cecece;
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 0 0.5em;
}

#header-container, #home-container, #footer-container {
    width: 80%;
    margin: auto;
}

section {
    padding: 2em 0;
}

a {
    text-decoration: none;
    color: #cecece;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5em;
    display: none;
}

h2 {
    font-size: 2em;
    padding: 0 0 1em 0;
    text-align: center;
}

h3 {
    font-size: 1.5em;
}

.hide {
    visibility: hidden;
}

#logo-menu {
    display: flex;
    justify-content: space-around;
}

#nav-menu {
    display: flex;
}

#menu {
    display: flex;
    align-items: center;
    font-size: x-large;
}

#menu li {
    padding: 0 0.5em;
}

#home {
    background-image: url('../images/Fairy-Sleeping-Beauty.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    opacity: 0.2;
    z-index: -1;
    position: relative;
}

header {
    background-color: #0c0c0c;
    position: sticky;
    top: 0;
    height: 10em;
    width: 100%;
}

#img-about {
    width: 40%;
}

#img-education {
    width: 90%;
}

#about, #education, #jobs {
    margin: 2em 0 0 0;
}

#about>div, #education>div {
    width: 50%;
    text-align: center;
}

#about>div>p, #education>div>p {
    text-align: left;
    font-size: large;
    line-height: 1.7;
}

#education>div>p {
    text-align: right;
}

#about, #education, #jobs>div {
    display: flex;
}

#jobs>div {
    flex-direction: column;
    display: flex;
}

.div-cards {
    display: flex;
    margin: auto;
    padding: 0 0 2em 0;
    align-items: flex-end;
}

#div-cards1 {
    padding: 2em 0 0 0;
}

.card {
    width: 400px;
    margin: 0 5em 5em;
    
}

.card:hover {
    transform: scale(1.2);
    box-shadow: 2px 2px 30px 1px rgba(255, 255, 255, 0.2);
}

.img-card {
    width: 100%;
    padding: 0 0 2em 0;
    margin: auto;

}

.p-card {
    text-align: center;
    margin: 0 0 2em 0;
}

#contacts>div {
    display: flex;
}

#contacts>div>div {
    width: 50%;
}

form {
    width: 50%;
}

form>div>label, form>div>input, form>div>textarea, form>button {
    width: 90%;
    display: block;
}

form>div>textarea {
    min-width: 90%;
    max-width: 90%;
    min-height: 5em;
    max-height: 5em;
    background-color: #cecece;
}

form>div>input {
    margin-bottom: 1em;
    border-radius: 2px;
    height: 2em;
    max-width: 100%;
    background-color: #cecece;
}

form>div>input:focus, form>div>textarea:focus {
    background-color: #b1aeae;
}

label {
    padding-bottom: 1em;
}

button {
    text-decoration: none;
    color: #0c0c0c;
    background-color: #cecece;
    border-radius: 6px;
    margin-top: 2em;
    height: 3em;
}

button:hover {
    color: #cecece;
    background-color: #0c0c0c;
}

#footer-container {
    display: flex;
    justify-content: space-between;
}

footer>div>p {
    display: inline-block;
}

#social-media {
    display: flex;
    justify-content: space-evenly;
    padding: 0 5em;
}

#social-media>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

#social-media>div>p {
    margin-bottom: 1em;
}

footer {
    padding-bottom: 1em;
}

@media (max-width: 960px) {
    ul, #logo-menu, #header-container, #home-container, #footer-container, section, section>div, section>div>div, #about>div, #education>div {
        width: 100%;
        text-align: center;
    }
    ul>li {
        margin: 1px 0;
        font-size: smaller;
    }
    #logo {
        transform: scale(0.7);
        position: inherit;
        top: 0;
    }
    header {
        position: static;
    }
    #about>div, #education>div {
        width: 90%;

    }
    #about>div>p, #education>div>p {
        text-align: center;
    }
    #home {
        background-size: auto;
        background-position: bottom;
    }
    #header>div>div>nav>ul, #header>div>div, #about, #education, #jobs>div>div, #contacts>div{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .card {
        padding: 1em;
    }
    form {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form>div, input, textarea {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #contacts>div>div {
       padding: 1em;
    }
}