html {
    background-color: #0c0c0c;
    color: #cecece;
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 0 0.5em;
}

#header-container, #home-container, #footer-container {
    width: 80%;
    margin: auto;
}

section {
    padding: 2em 0;
}

a {
    text-decoration: none;
    color: #cecece;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5em;
    display: none;
}

h2 {
    font-size: 2em;
    padding: 0 0 0.5em 0;
}

h3 {
    font-size: 1.5em;
}

#about>div>p, #education>div>p {
    text-align: justify;
    padding: 0 0 2em 2em ;
}

.hide {
    visibility: hidden;
}

#logo-menu {
    display: flex;
    justify-content: space-around;
}

#nav-menu {
    display: flex;
}

#menu {
    display: flex;
    align-items: center;
    font-size: x-large;
}

#menu li {
    padding: 0 0.5em;
}

#home {
    background-image: url('../images/Fairy\ -\ Sleeping\ Beauty.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    opacity: 0.2;
}

#about, #education {
    display: flex;
}

img {
    
    max-height: 13em;
}