* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #0c0c0c;
    color: #cecece;
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 0 0.5em;
}

#header-container, #home-container, #footer-container {
    width: 80%;
    margin: auto;
}

section {
    padding: 2em 0;
}

a {
    text-decoration: none;
    color: #cecece;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5em;
    display: none;
}

h2 {
    font-size: 2em;
    padding: 0 0 1em 0;
    text-align: center;
}

h3 {
    font-size: 1.5em;
}

.hide {
    visibility: hidden;
}

#logo-menu {
    display: flex;
    justify-content: space-around;
}

#nav-menu {
    display: flex;
}

#menu {
    display: flex;
    align-items: center;
    font-size: x-large;
}

#menu li {
    padding: 0 0.5em;
}

#home {
    background-image: url('../images/Fairy-Sleeping-Beauty.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    opacity: 0.2;
}

#img-about {
    width: 40%;
}

#img-education {
    width: 90%;
}

#about, #education, #jobs {
    margin: 2em 0 0 0;
}

#about>div, #education>div {
    width: 50%;
    text-align: center;
}

#about>div>p, #education>div>p {
    text-align: justify;
    font-size: large;
}

#about, #education, #jobs>div {
    display: flex;
}

#jobs>div {
    flex-direction: column;
    display: flex;
}

.div-cards {
    display: flex;
    margin: auto;
    padding: 0 0 2em 0;
    align-items: flex-end;
}

#div-cards1 {
    padding: 2em 0 0 0;
}

.card {
    width: 400px;
    margin: 0 5em 5em;
    
}

.card:hover {
    transform: scale(1.2);
    box-shadow: 2px 2px 30px 1px rgba(255, 255, 255, 0.2);
}

.img-card {
    width: 100%;
    padding: 0 0 2em 0;
    margin: auto;

}

.p-card {
    text-align: center;
    margin: 0 0 2em 0;
}

#contacts>div {
    display: flex;
}

form {
    width: 50%;
    border: 1px solid blue;
}

form>div>label, form>div>input, form>div>textarea, form>button {
    width: 100%;
}